<div class="container-fluid">
    <div class="row">
        <div class="col-2 sidebar-nav-logo d-flex align-items-center">
            <i class="logo bi bi-globe ms-2"></i>
            <span class="logo ms-2">Mob.</span>
            <button id="btn-mobile" (click)="toggleActive()">
                <span id="hamburguer"></span>
            </button>
        </div>
        <div class="col navbar bg-primary">navbar</div>
    </div>

    <div class="row">
        <div class="col-2 sidebar-nav" id="toggle">

            <ul class="p-0 ms-2">
                <span>Menu</span>
                <li class="d-flex align-items-center mt-3 mb-4 link-active">
                    <a href=""><i class="bi bi-house-door pe-2 ms-3"></i><span>Overview</span></a>
                </li>
                <li class="d-flex align-items-center mb-4">
                    <a href=""><i class="bi bi-credit-card pe-2 ms-3"></i><span>Cards</span></a>
                </li>
                <li class="d-flex align-items-center">
                    <a href=""><i class="bi bi-clipboard-data pe-2 ms-3"></i><span>Statistics</span></a>
                </li>
            </ul>

            <ul class="p-0 ms-2">
                <span>Account</span>
                <li class="d-flex align-items-center mt-3 mb-4 li-desktop">
                    <a class="d-flex align-items-center justify-content-center me-3" href=""><i
                            class="bi bi-chat-dots pe-2 ms-3"></i><span>Inbox</span></a><span
                        class="badge rounded-circle d-flex align-items-center justify-content-center ms-5">4</span>
                </li>
                <li class="d-flex align-items-center mb-4 li-desktop">
                    <a class="d-flex align-items-center justify-content-center me-3" href=""><i
                            class="bi bi-bell pe-2 ms-3"></i><span>Notification</span></a><span
                        class="badge rounded-circle d-flex align-items-center justify-content-center lh-sm">2</span>
                </li>
                <li class="d-flex align-items-center li-mobile mt-3 mb-4">
                    <button type="button" class="position-relative border-0 bg-transparent">
                        <a href=""><i class="bi bi-chat-dots pe-2 ms-3 position-relative"></i><span>Settings</span></a>
                        <span class="badge-mobile position-absolute translate-middle p-2 bg-danger rounded-circle">
                        </span>
                    </button>
                </li>
                
                <li class="d-flex align-items-center li-mobile mb-4">
                    <button type="button" class="position-relative border-0 bg-transparent">
                        <a href=""><i class="bi bi-bell pe-2 ms-3 position-relative"></i><span>Settings</span></a>
                        <span class="badge-mobile position-absolute translate-middle p-2 bg-danger rounded-circle">
                        </span>
                    </button>
                </li>  
                <li class="d-flex align-items-center">
                    <a href=""><i class="bi bi-gear pe-2 ms-3 position-relative"></i><span>Settings</span></a>
                </li>                              
            </ul>

        </div>
        <div class="col">main</div>
    </div>
</div>