<div class="container-fluid">
    <div class="row">
        <div class="col-2 sidebar-nav-logo d-flex align-items-center">
            <i class="logo bi bi-globe ms-2"></i>
            <span class="logo ms-2">Mob.</span>
            <button id="btn-mobile" (click)="toggleActive()">
                <span id="hamburguer"></span>
            </button>
        </div>
        <div class="col navbar">
            <div class="container">
                <div class="col-2">
                    <h1>Overview</h1>
                </div>
                <div class="col d-flex align-items-center justify-content-end">
                    <i class="bi bi-search me-3"></i>
                    <input class="form-control me-2 border-0" type="text" placeholder="Search something">
                    <div>
                        <i class="bi bi-chat-dots pe-2 ms-3"></i>
                        <span class="badge-navbar position-absolute translate-middle rounded-circle">
                            <h6>4</h6>
                        </span>
                    </div>
                    <div class="position-relative">
                        <i class="bi bi-bell pe-2 ms-3"></i>
                        <span class="badge-navbar position-absolute translate-middle rounded-circle">
                            <h6>2</h6>
                        </span>
                    </div>
                    <h6 id="profile-name" [innerHTML]="profileName"></h6>
                    <img class="profile-img rounded-circle" src="../../assets/profile.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2 sidebar-nav" id="toggle">

            <ul class="p-0 ms-2">
                <span>Menu</span>
                <li class="d-flex align-items-center mt-3 mb-4 link-active">
                    <a href=""><i class="bi bi-house-door pe-2 ms-3"></i><span>Overview</span></a>
                </li>
                <li class="d-flex align-items-center mb-4">
                    <a href=""><i class="bi bi-credit-card pe-2 ms-3"></i><span>Cards</span></a>
                </li>
                <li class="d-flex align-items-center">
                    <a href=""><i class="bi bi-clipboard-data pe-2 ms-3"></i><span>Statistics</span></a>
                </li>
            </ul>

            <ul class="p-0 ms-2">
                <span>Account</span>
                <li class="d-flex align-items-center mt-3 mb-4 li-desktop">
                    <a class="d-flex align-items-center justify-content-center me-3" href=""><i
                            class="bi bi-chat-dots pe-2 ms-3"></i><span>Inbox</span></a><span
                        class="badge rounded-circle d-flex align-items-center justify-content-center ms-5">4</span>
                </li>
                <li class="d-flex align-items-center mb-4 li-desktop">
                    <a class="d-flex align-items-center justify-content-center me-3" href=""><i
                            class="bi bi-bell pe-2 ms-3"></i><span>Notification</span></a><span
                        class="badge rounded-circle d-flex align-items-center justify-content-center lh-sm">2</span>
                </li>
                <li class="d-flex align-items-center li-mobile mt-3 mb-4">
                    <button type="button" class="position-relative border-0 bg-transparent">
                        <a href=""><i class="bi bi-chat-dots pe-2 ms-3"></i><span>Settings</span></a>
                        <span class="badge-mobile position-absolute translate-middle p-1 rounded-circle">
                        </span>
                    </button>
                </li>

                <li class="d-flex align-items-center li-mobile mb-4">
                    <button type="button" class="position-relative border-0 bg-transparent">
                        <a href=""><i class="bi bi-bell pe-2 ms-3"></i><span>Settings</span></a>
                        <span class="badge-mobile position-absolute translate-middle p-1 rounded-circle">
                        </span>
                    </button>
                </li>
                <li class="d-flex align-items-center">
                    <a href=""><i class="bi bi-gear pe-2 ms-3 position-relative"></i><span>Settings</span></a>
                </li>
            </ul>

        </div>
        <div class="col">
            <div class="container">
                <div class="row mt-4">
                    <div class="col-lg-4">
                        <div class="card border-0 p-3 card-light ">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img class="logo-visa me-2" src="../../../assets/visa-logo.png" alt="">
                                    <span>|</span>
                                    <h6 class="ms-2">MobBanking Pro</h6>
                                </div>
                                <div class="card-icon-aprox">
                                    <i class="bi bi-wifi"></i>
                                </div>
                            </div>
                            <div class="my-2">
                                <i class="bi bi-activity"></i>
                            </div>
                            <div class="card-information d-flex align-items-center justify-content-between">
                                <h5>Balance</h5>
                                <span><span class="me-2">****</span>2340</span>
                            </div>
                            <div class="card-count d-flex justify-content-between mt-1">
                                <div class="d-flex align-items-center">
                                    <h4 class="m-0">$2,470</h4>
                                    <i class="bi bi-arrow-up-circle ms-2"></i>
                                </div>
                                <div class="d-flex card-light-valid-thru align-items-center">
                                    <span class="card-valid-thru-icon me-2 text-center">VALID <br>THRU</span>
                                    <span>02/21</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card border-0 p-3 card-blue ">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img class="logo-visa me-2" src="../../../assets/visa-logo-white.png" alt="">
                                    <span>|</span>
                                    <h6 class="ms-2">MobBanking Classic</h6>
                                </div>
                                <div class="card-icon-aprox">
                                    <i class="bi bi-wifi"></i>
                                </div>
                            </div>
                            <div class="my-2">
                                <i class="bi bi-activity"></i>
                            </div>
                            <div class="card-information d-flex align-items-center justify-content-between">
                                <h5>Balance</h5>
                                <span><span class="me-2">****</span>3456</span>
                            </div>
                            <div class="card-count d-flex justify-content-between mt-1">
                                <div class="d-flex align-items-center">
                                    <h4 class="m-0">$6,450</h4>
                                    <i class="bi bi-arrow-up-circle ms-2"></i>
                                </div>
                                <div class="d-flex card-blue-valid-thru align-items-center">
                                    <span class="card-valid-thru-icon me-2 text-center">VALID <br>THRU</span>
                                    <span>07/23</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card border-0 p-3 card-light ">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img class="logo-visa me-2" src="../../../assets/visa-logo.png" alt="">
                                    <span>|</span>
                                    <h6 class="ms-2">MobBanking Pro</h6>
                                </div>
                                <div class="card-icon-aprox">
                                    <i class="bi bi-wifi"></i>
                                </div>
                            </div>
                            <div class="my-2">
                                <i class="bi bi-activity"></i>
                            </div>
                            <div class="card-information d-flex align-items-center justify-content-between">
                                <h5>Balance</h5>
                                <span><span class="me-2">****</span>0476</span>
                            </div>
                            <div class="card-count d-flex justify-content-between mt-1">
                                <div class="d-flex align-items-center">
                                    <h4 class="m-0">$3,260</h4>
                                    <i class="bi bi-arrow-up-circle ms-2"></i>
                                </div>
                                <div class="d-flex card-light-valid-thru align-items-center">
                                    <span class="card-valid-thru-icon me-2 text-center">VALID <br>THRU</span>
                                    <span>06/22</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>