<div class="container-fluid">
    <div class="row ">
        <div class="col-12">
            <div class="card-container">
                <div class="card d-flex align-items-center justify-content-center">
                    <div>
                        <i class="bi bi-globe"></i>
                        <span class="ms-2">Mob.</span>
                    </div>
                    <input class="form-control mt-3 ps-2" type="text" #userInput
                        placeholder="Digite seu nome para entrar" (keyup.enter)="getName(userInput.value)">
                    <button class="btn mt-4" (click)="getName(userInput.value)">Entrar</button>
                </div>
            </div>
        </div>
    </div>
</div>